/**
 * @file
 * Shell base CSS.
 */

#shell-screen-screen {
  background-color: black;
  border: 1px solid blue;
  color: forestgreen;
  font-size: 1.1em;
  width: 100%;
}

#shell-screen-history {
  height: 400px;
  font-family: Courier New, fixed-width;
  line-height: 1.2em;
  overflow-y: auto;
  padding: 10px;
}

#center form#shell-input-form {
  background-color: darkblue;
  margin-bottom: 0px;
}

#shell-input-field {
  background-color: transparent;
  border: 1px solid yellow;
  color: yellow;
  font-weight: bold;
  width: 80%;
}

.shell-command-input-suffix.throbber {
  background-image: url(../misc/throbber.gif);
  display: inline-block;
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

#shell-input-field-wrapper {
  margin: 0;
  margin-top: 5px;
}

#shell-send {
  float: right;
  margin: 0;
  margin-right: 5px;
  position: relative;
  top: 10px;
}

.user-command {
  color: yellow;
}

pre.shell {
  font-size: 10pt;
  margin: 0;
  padding: 0;
}

.shell-not-supported {
  font-style: italic;
}

.shell-directory-listing {
  margin-top: 10px;
}

.shell-list-from-tab {
  padding-bottom: 20px;
  padding-left: 20px;
}

.shell-list-from-tab span.shell-filename {
  padding-right: 30px;
}
